.post {
  margin-block-end: 1em;
}

.postText {
}

.replyConnector {
  opacity: 0.5;
}

.postRepostAuthor {
}

.postDate,
.postRepostHandle,
.handle {
  opacity: 0.5;
}

.postQuoted {
  padding-inline-start: 2ch;
}

.postQuotedText {
}

.post:first-of-type .postStart {
  display: none;
}

.postStart {
  opacity: 0.5;
  margin-block-end: 1em;
}

.subtle {
  opacity: 0.5;
}
