.post {
  margin-block-end: 3em;
}

.replyConnector {
  user-select: none;
  color: var(--subtle-color);
}

.postDate,
.postRepostHandle,
.handle {
  color: var(--subtle-color);
}

.postQuoted {
  padding-inline-start: 2ch;
}

.post:first-of-type .postStart {
  display: none;
}

.postStart {
  color: var(--subtle-color);
  margin-block-end: 1em;
}

.subtle {
  color: var(--subtle-color);
}

.imagesWrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25ch;
}

@media screen and (min-width: 768px) {
  .post {
    margin-block-end: 6em;
  }
}
