:root {
  --accent-color: #ffe6c7;
  --text-color: #eff5f5;
  --subtle-color: #c1cdce;
  --background-color: #3e5a5c;

  /*
  --accent-color: #76abae;
  --text-color: #eee;
  --subtle-color: #97999d;
  --background-color: #222831;
  */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #222831;
  color: #eee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p {
  margin-block: 0;
  max-width: 55ch;
  white-space: pre-line;
}

a,
button {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  line-height: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
