:root {
  --accent-color: #00ace9;
}

body {
  background-color: Canvas;
  color: CanvasText;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p {
  margin-block: 0;
  max-width: 55ch;
  white-space: pre-line;
}

a,
button {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
