.page {
  margin: auto;
}

.accent {
  color: var(--accent-color);
}

.bio {
  margin: 2em 0 1em;
}

.feed {
  margin-block: 1em;
}

.loader {
  margin-block: 1em;
}

.handle {
  opacity: 0.6;
}

.main {
  max-width: 57ch;
  margin: auto;
  padding-inline: 1ch;
}

.feedEnd {
  margin: 1em 0 2em;
}
